:root {
  --md-primary-fg-color: #d32f2f;
  --md-primary-fg-color--light: #ff5252;
  --md-primary-fg-color--dark: #9a0007;
}

body,
.md-typeset {
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.md-typeset blockquote {
  color: inherit;
  opacity: 0.9;
}

/* Override hover/active/focus states */
.md-typeset a:hover,
.md-typeset a:focus,
.md-nav__link:hover,
.md-nav__link--active,
.md-footer a:hover,
.md-footer a:focus {
  color: var(--md-primary-fg-color--light) !important;
}

/* Make ALL headers bold */
h1,
h2,
h3,
h4,
h5,
h6,
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: 600 !important;
  color: black !important;
}
